/.vs
/*.suo
/*.Tests/Content/
/*.Sample/Content/
/bin
/obj
/node_modules
/build/
/packages/
/tools/packages/
/.fake/
/paket-files/
.vscode/
.idea/
*.user
websharper.log
/*/bin
/*/obj
/*/node*
/*/Properties
/*/wwwroot/Content
/*/wwwroot/dist
/*/.vs
/*/websharper.log

